.Gamesheet {
  color:white;
  background-color: darkblue;
  margin:10px;
  border-radius:15px;
}
.GameClock {
  background-color: pink;
}
.smallFont {
  font-size: 8pt;
}
.Scoreboard {
  color: white;
  background-color: rgb(24, 16, 16);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 3px solid white;
  padding: 10px;
}

.Panel {
  
  width: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  justify-content: space-around;
  padding: 4px;
  
}
.Border {
  border: 1px solid white;
  border-radius: 5px;
}
.TeamName {
  
  height: 2.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: scoreboard;
  font-weight: bold;

  font-size: 12pt;
}
.Scores {
  display: flex;
  justify-content: space-around;
}
@font-face {
  font-family: "scoreboard";
  src: url("./DS-DIGIT.TTF");
}
.Digital {
  color: red;
  background-color: rgb(44, 1, 1);
  font-family: scoreboard;
}
.Time {
  
  max-width: 500px;
  font-size: 2.4em;
  border-radius: 5px;
  padding: 0.05em 0.2em;
}
.Half {
  
  font-size: 2.5em;
  width: 1em;
}
.Score {
  display: flex;
  flex-direction: row;
  padding: 0px 3px;
  max-width: 200px;
  font-size: 2.8em;
}
.Digit {
  text-align: right;
  width: 0.5em;
  margin: 2px;
  padding: 0px 5px;
}
.History {
  color: white;
  background-color: black;
}
