.ChooseGame {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    margin:10px;
  border-radius:15px;

}
.List-Title{
    background-color: lightgrey;
    margin:15px;
    font-size:18pt;

}
.List-Container{
    display:flex;
    flex-direction: column;
    background-color:yellow;
    margin:15px;
    border-radius:15px;

}
.List-Item{
color:white;
background-color: black;
margin:5px;
border-radius: 10px;
padding:5px;
}